body{
    background-color: rgb(0, 0, 0);

    .Inicio{
        .fondo{
        position:absolute;
        inset: 0;
        z-index: -1;
        overflow: hidden;
        }
        .fondo img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .fondo::after{
            content:"";
            position: absolute;
            inset: 0;
            background: linear-gradient(to bottom, rgba(0,0,0,0.5) 50%, rgba(0,0,0,10) 100%);
        }

        .Apellido{
            font-family: 'Cinzel', serif;
            font-weight: 700;
            font-size: 90px;
            letter-spacing: 6px;
            color: white;
            text-align: center;
            margin-top: 60px;
        }
        .Contenido {
            color: white;
            max-width: 900px;
            margin: 0 auto; 
            text-align: center; 
            padding-top: 40px;
        }

        
        .galeria {
            margin-top: 500px;
            display: flex;
            justify-content: center;
            gap: 25px; 
            margin-bottom: 30px;
        }

        
        .Fotos {
            width: 30%; 
            border-radius: 10px;
            object-fit: cover;
            transition: transform 0.3s;
        }

        .Fotos:hover {
            transform: scale(1.06);
        }

        .TextoCentrado {
            margin-top: 20px;
            font-size: 18px;
            line-height: 1.6;
        }

    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: white;
    width: 100%;
    margin-top: 10%;

    .pie {
        padding: 80px 0;
        text-align: center;
    }
}